---
title: CompanyCam API V2 Documentation

language_tabs:
  - shell

toc_footers:
  - <a href='https://app.companycam.com/signup'>Sign up for an account</a>
  - <a href='http://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - errors

asides:
  - making_an_api_call
  - pagination
  - soft-deletion
  - permissions_enum

resources:
  - company
  - user
  - project
  - photo
  - document
  - project-photo
  - project-photo-tag
  - project-document
  - comment
  - group
  - tag

types:
  - coordinate
  - address
  - permission
  - image_uri

search: true
home: true
---

# CompanyCam API

CompanyCam helps companies manage field work with smart photos.

If anything is missing or seems incorrect, please check the [GitHub issues](https://github.com/CompanyCam/developer-docs/issues)
for existing known issues or [create a new issue](https://github.com/CompanyCam/developer-docs/issues/new).

<%= partial "includes/getting_started" %>
<%= partial "includes/errors" %>
