---
title: CompanyCam API V2 Documentation

language_tabs:
  - shell

toc_footers:
  - <a href='https://app.companycam.com/signup'>Sign up for an account</a>
  - <a href='http://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - errors

asides:
  - creating_an_application
  - getting_an_auth_code
  - requesting_for_an_access_token
  - refreshing_access_tokens
  - making_an_api_call
  - pagination
  - soft-deletion
  - permissions_enum

resources:
  - company
  - user
  - project
  - photo

types:
  - coordinate
  - address
  - role
  - permission
  - image_uri

search: true
home: true
---

# CompanyCam API

CompanyCam helps companies manage field work with smart photos.

If anything is missing or seems incorrect, please check the [GitHub issues](https://github.com/CompanyCam/api-docs/issues)
for existing known issues or [create a new issue](https://github.com/CompanyCam/api-docs/issues/new).

# Authentication

> To authorize, use this code:

```shell
# With shell, you can just pass the correct header with each request
curl "api_endpoint_here"
  -H "Authorization: Bearer <ACCESS_TOKEN>"
  -H "X-CompanyCam-User: <USER_EMAIL>"
```

> Make sure to replace `<ACCESS_TOKEN>` with your API key.

CompanyCam expects for the API key to be included in all API requests to the server in a header that looks like the following:

`Authorization: Bearer <ACCESS_TOKEN>`

When possible you should set the user's email address performing the action in your app in a header that looks like the following:
`X-CompanyCam-User: <USER_EMAIL>`

If the email address is not provided it will use the email address of the user that configured the integration.


<aside class="notice">
<br />
You must replace <code>&lt;ACCESS_TOKEN&gt;</code> with your personal API key. <br />
You should replace <code>&lt;USER_EMAIL&gt;</code> with the user's email address.
</aside>

<%= partial "includes/getting_started" %>
<%= partial "includes/errors" %>
